# dependencias
node_modules/
.pnp
.pnp.js

# build
.next/
out/
build/
dist/

# variables de entorno (nunca subir al repo)
.env.local
.env.*.local
.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# sistema operativo
.DS_Store
Thumbs.db

# editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# typescript
*.tsbuildinfo
next-env.d.ts
